<%-
  # generate form id, based on host and port
  form_id = Digest::SHA1.hexdigest("--" + host.to_s + "--" + port.to_s + "--")
-%>

<script>
function setCookie(name, value, path) {
    var d = new Date();
    d.setTime(d.getTime() + (7*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = `${name}=${value};${expires};path=${path}; secure`;
}
</script>

<form id="<%= form_id %>" action="/rnode/<%= host %>/<%= port %>/" method="post" target="_blank" onsubmit="setCookie('TB_AUTH_TOKEN', '<%= password -%>', `/rnode/<%= host -%>/<%= port -%>/`)">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to Tensorboard
  </button>
</form>

